<div class="header">
<h1><center>SIMPLE TODO LISTS</center></h1>
<h2><center>FROM RUBY GARAGE</center></h2>
</div>

<% if @projects.empty? %>
  <div class="add_proj">Add project to start</div>
<% else %>
<% @projects.each do |project| %>
<div class="project_and_tasks" data-id="">
    <div class="project">

      <div class="name"><%= project.name %></div>

      <div  class="action delete">
          <button  type="button" class="btn btn-lg">
            <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true' style='color: #98B0D2;'></span>".html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>  
        </div>

        <div  class="action edit">
          <button  type="button" class="btn btn-lg">
            <%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true' style='color: #98B0D2;'></span>".html_safe, edit_project_path(project) %>
          </button>  
        </div>

        
      </div>

    <div class="task">
        <%= form_for(@task || Task.new) do |f| %>
        <div class="icon">
          <button  type="button" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>  
        </div>
        <div class="input-group input-group-sm input">
          <%= f.text_field :name, :placeholder => "Start typing here to create a task", :class => "form-control" %> 
          <%= f.hidden_field :project_id, :value => project.id %>
          <!-- <span class="input-group-addon success" id="basic-addon2" >Add task</span> -->
          <span class="input-group-btn" style="background-color: #70A789;">
            <%= f.submit "Add task", :class => 'btn btn-success'%>
          </span>
        
        </div>
      <% end %>
    </div>

    <div class="tasks">
      <% project.tasks.each_with_index do |task, index| %>
        <% if task.completed?  %>
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <div class="task-element" data-id='<%= task.id %>'>
          
            <%= form_for task do |t| %>
              <div class="checkbox">
                  <label>
                  <%=t.check_box :status, {:class => "chk", :style => "margin: 0px 0px 0px -15px; padding: 0px 0px 6px 0px; opacity: 0.4;"}, "done", "open" %>
                  </label>
              </div>
            <% end %>

            <div class="name" > <p style="opacity: 0.4; "><%= task.name %></p></div>
                <div class="actions">
                  <div class="action move">
                    <button type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="opacity: 0.4;"></span> 
                    </button>
                    <button type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="opacity: 0.4;"></span> 
                    </button>  
                  </div>
                <div class="action edit" style="width: 25px;" >
                  <button type="button" class="btn btn-xs">
                  <%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true' style='opacity: 0.4; color: #5A9273;'></span>".html_safe, edit_task_path(task) %>
                  </button>  
                </div>

                <div class="action delete" style="padding-left: 0px;">
                  <button type="button" class="btn btn-xs">
                    <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true' style='opacity: 0.4; color: #5A9273;'></span>".html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </button>  
                </div>

            </div>

          </div>
        
        <% else %>
          <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
              <div class="task-element" data-id='<%= task.id %>'>
          
          
            <%= form_for task do |t| %>
              <div class="checkbox">
                  <label>
                  <%= link_to complete_task_path(task.id), method: :patch do %>
                     <%=t.check_box :status, {:class => "chk", :style => "margin: 0px 0px 0px -15px; padding: 0px 0px 6px 0px;"}, "done", "open" %>
                  <% end %>
                  </label>
              </div>
            <% end %>

            <div class="name"><%= task.name %></div>
                <div class="actions">
                  <div class="action move">
                    <button type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> 
                    </button>
                    <button type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
                    </button>  
                  </div>
                <div class="action edit" style="width: 25px;" >
                  <button type="button" class="btn btn-xs">
                  <%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true' style='color: #5A9273;' ></span>".html_safe, edit_task_path(task) %>
                  </button>  
                </div>

                <div class="action delete" style="padding-left: 0px;">
                  <button type="button" class="btn btn-xs">
                    <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true' style='color: #5A9273;'></span>".html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </button>  
                </div>

            </div>

          </div>
        
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <% end %>
          
       <% end %>
       <br>
</div>
<% end %>
<% end %>
<br><br><br><br><br>

  <div id="add_list">
    <button id="add_proj" type="button" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="add_todo_list" style="color: white;"> <%= link_to 'Add ToDo List', new_project_path, {class: 'btn btn-success btn-lg', style: 'color: white;' }  %> </span>
    </button>
  </div>

<br><br><br>